{% extends 'base.html' %}

{% block content %}

    <main class="main">
      <section class="service-products">
        <div class="service-products__inner container">
          <h1 class="service-products__title title">3D Визуализация</h1>
          <div class="service-products__body">
            <article class="service-product">
              <div class="service-product__container">
                <img srcset="/static/assets/images/3d_printer-320x291.jpg 320w, /static/assets/images/3d_printer-400x364.jpg 400w, /static/assets/images/3d_printer-440x400.jpg 440w" src="/static/assets/images/3d_printer-440x400.jpg" sizes="(min-width: 440px) 440px, 100vw" width="440" height="400" alt="Продукт" decoding="async" loading="lazy" class="service-product__image">
              </div>
              <div class="service-product__body">
                <h3 class="service-product__title text text--big">Использование 3D-визуализации для 3D-принтеров</h3>
                <div class="service-product__price text text--big">Цена - по запросу</div>
                <div class="service-product__description text text--regular">
                  <p>3D-моделирование для 3D-принтера становится всё более востребованным с точки зрения практического применения, потому что 3D-печать активно и стремительно проникает в самые разные сферы жизни. По реально существующему объекту (или его чертежу) можно сделать не только полигональный каркас, но и мобильный «скелет», движения которого будут отвечать установленным параметрам.</p>
                </div>

                {% include 'services/services_contacts.html' %}

              </div>
            </article>
            <article class="service-product">
              <div class="service-product__container">
                <img srcset="/static/assets/images/3d_printer-320x291.jpg 320w, /static/assets/images/3d_printer-400x364.jpg 400w, /static/assets/images/3d_printer-440x400.jpg 440w" src="/static/assets/images/3d_printer-440x400.jpg" sizes="(min-width: 440px) 440px, 100vw" width="440" height="400" alt="Продукт" decoding="async" loading="lazy" class="service-product__image">
              </div>
              <div class="service-product__body">
                <h3 class="service-product__title text text--big">3D-визуализация конкретных предметов</h3>
                <div class="service-product__price text text--big">Цена - по запросу</div>
                <div class="service-product__description text text--regular">
                  <p>Современные технологии позволяют сделать 3D-визуализацию самых разнообразных изделий, намеченных для производства. Возможность предварительного всестороннего анализа особенно ценна, когда речь идет о проектировании сложных, дорогостоящих предметов</p>
                </div>

                {% include 'services/services_contacts.html' %}

              </div>
            </article>

          </div>
        </div>
      </section>

{% include 'services/services_list.html' %}

    </main>

{% endblock content %}