<section class="projects">
        <div class="projects__inner container">
          <div class="section-header">
            <h2 class="section-header__title text text--main-2-light">Наши работы</h2>
            <div class="section-header__subtitle title">3D Печать</div>
          </div><swiper-container class="projects__slider" slides-per-view="1.4" space-between="10" centered-slides="true"><swiper-slide>
            <a href="{% url 'catalog:product_4' %}" class="projects__link"><img srcset="/static/assets/images/products/bug_1-320x320.jpg 320w, /static/assets/images/products/bug_1-400x400.jpg 400w, /static/assets/images/products/bug_1-420x420.jpg 420w" src="/static/assets/images/products/bug_1-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
            </a>
        </swiper-slide><swiper-slide>
            <a href="{% url 'catalog:product_5' %}" class="projects__link">
                <img srcset="/static/assets/images/products/bug_2-320x320.jpg 320w, /static/assets/images/products/bug_2-400x400.jpg 400w, /static/assets/images/products/bug_2-420x420.jpg 420w" src="/static/assets/images/products/bug_2-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
            </a>
        </swiper-slide><swiper-slide>
            <a href="{% url 'catalog:product_6' %}" class="projects__link">
                <img srcset="/static/assets/images/products/chess-320x320.jpg 320w, /static/assets/images/products/chess-400x400.jpg 400w, /static/assets/images/products/chess-420x420.jpg 420w" src="/static/assets/images/products/chess-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
            </a>
        </swiper-slide><swiper-slide>
            <a href="{% url 'catalog:product_7' %}" class="projects__link">
                <img srcset="/static/assets/images/products/dog-320x320.jpg 320w, /static/assets/images/products/dog-400x400.jpg 400w, /static/assets/images/products/dog-420x420.jpg 420w" src="/static/assets/images/products/dog-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
            </a>
        </swiper-slide><swiper-slide>
            <a href="{% url 'catalog:product_1' %}" class="projects__link">
                <img srcset="/static/assets/images/products/axolotl-320x320.jpg 320w, /static/assets/images/products/axolotl-400x400.jpg 400w, /static/assets/images/products/axolotl-420x420.jpg 420w" src="/static/assets/images/products/axolotl-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
            </a>
        </swiper-slide><swiper-slide>
            <a href="{% url 'catalog:product_8' %}" class="projects__link">
                <img srcset="/static/assets/images/products/doll-320x320.jpg 320w, /static/assets/images/products/doll-400x400.jpg 400w, /static/assets/images/products/doll-420x420.jpg 420w" src="/static/assets/images/products/doll-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
            </a>
        </swiper-slide><swiper-slide>
            <a href="{% url 'catalog:product_3' %}" class="projects__link">
                <img srcset="/static/assets/images/products/big-320x320.jpg 320w, /static/assets/images/products/big-400x400.jpg 400w, /static/assets/images/products/big-420x420.jpg 420w" src="/static/assets/images/products/big-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
            </a>
        </swiper-slide></swiper-container>
          <ul class="projects__list">
            <li class="projects__item">
                <a href="{% url 'catalog:product_11' %}" class="projects__link">
                    <img srcset="/static/assets/images/products/ikran-320x240.jpg 320w, /static/assets/images/products/ikran-400x300.jpg 400w, /static/assets/images/products/ikran-530x400.jpg 530w" src="/static/assets/images/products/ikran-530x400.jpg" sizes="(min-width: 530px) 530px, 100vw" width="530" height="399" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
                </a>
            </li>
            <li class="projects__item">
                <a href="{% url 'catalog:product_4' %}" class="projects__link">
                    <img srcset="/static/assets/images/products/bug_1-320x320.jpg 320w, /static/assets/images/products/bug_1-400x400.jpg 400w, /static/assets/images/products/bug_1-420x420.jpg 420w" src="/static/assets/images/products/bug_1-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
                </a>
            </li>
            <li class="projects__item">
                <a href="{% url 'catalog:product_5' %}" class="projects__link">
                    <img srcset="/static/assets/images/products/bug_2-320x320.jpg 320w, /static/assets/images/products/bug_2-400x400.jpg 400w, /static/assets/images/products/bug_2-420x420.jpg 420w" src="/static/assets/images/products/bug_2-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
                </a>
            </li>
            <li class="projects__item">
                <a href="{% url 'catalog:product_6' %}" class="projects__link">
                    <img srcset="/static/assets/images/products/chess-320x320.jpg 320w, /static/assets/images/products/chess-400x400.jpg 400w, /static/assets/images/products/chess-420x420.jpg 420w" src="/static/assets/images/products/chess-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
                </a>
            </li>
            <li class="projects__item">
                <a href="{% url 'catalog:product_7' %}" class="projects__link">
                    <img srcset="/static/assets/images/products/dog-320x320.jpg 320w, /static/assets/images/products/dog-400x400.jpg 400w, /static/assets/images/products/dog-420x420.jpg 420w" src="/static/assets/images/products/dog-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
                </a>
            </li>
            <li class="projects__item">
                <a href="{% url 'catalog:product_1' %}" class="projects__link">
                    <img srcset="/static/assets/images/products/axolotl-320x320.jpg 320w, /static/assets/images/products/axolotl-400x400.jpg 400w, /static/assets/images/products/axolotl-420x420.jpg 420w" src="/static/assets/images/products/axolotl-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
                </a>
            </li>
            <li class="projects__item">
                <a href="{% url 'catalog:product_8' %}" class="projects__link">
                    <img srcset="/static/assets/images/products/doll-320x320.jpg 320w, /static/assets/images/products/doll-400x400.jpg 400w, /static/assets/images/products/doll-420x420.jpg 420w" src="/static/assets/images/products/doll-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
                </a>
            </li>
            <li class="projects__item">
                <a href="{% url 'catalog:product_3' %}" class="projects__link">
                    <img srcset="/static/assets/images/products/big-320x320.jpg 320w, /static/assets/images/products/big-400x400.jpg 400w, /static/assets/images/products/big-420x420.jpg 420w" src="/static/assets/images/products/big-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
                </a>
            </li>
            <li class="projects__item">
                <a href="{% url 'catalog:product_19' %}" class="projects__link">
                    <img srcset="/static/assets/images/products/voodoo-320x320.jpg 320w, /static/assets/images/products/voodoo-400x400.jpg 400w, /static/assets/images/products/voodoo-420x420.jpg 420w" src="/assets/images/products/voodoo-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="projects__image">
                </a>
            </li>
          </ul>
        </div>
      </section>