<div class="full-product__footer">
            <h2 class="full-product__footer-title title">Смотрите также</h2>
            <div class="full-product__footer-body">
              <article class="full-product__footer-product product">
                <a href="{% url 'catalog:product_1' %}" class="product__link"></a>
                <div class="product__preview">

                  {% include 'products/products_contacts.html' %}

                  <img srcset="/static/assets/images/products/axolotl-320x320.jpg 320w, /static/assets/images/products/axolotl-400x400.jpg 400w, /static/assets/images/products/axolotl-420x420.jpg 420w" src="/static/assets/images/products/axolotl-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="product__image">
                </div>
                <div class="product__footer">
                  <h3 class="product__title text text--regular">Подвижный Аксолотль</h3>
                  <div class="product__price text text--regular">1200 ₽</div>
                </div>
              </article>
              <article class="full-product__footer-product product">
                <a href="{% url 'catalog:product_7' %}" class="product__link"></a>
                <div class="product__preview">

                    {% include 'products/products_contacts.html' %}

                  <img srcset="/static/assets/images/products/dog-320x320.jpg 320w, /static/assets/images/products/dog-400x400.jpg 400w, /static/assets/images/products/dog-420x420.jpg 420w" src="/static/assets/images/products/dog-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="product__image">
                </div>
                <div class="product__footer">
                  <h3 class="product__title text text--regular">Пёсель</h3>
                  <div class="product__price text text--regular">888 ₽</div>
                </div>
              </article>
              <article class="full-product__footer-product product">
                <a href="{% url 'catalog:product_8' %}" class="product__link"></a>
                <div class="product__preview">

                  {% include 'products/products_contacts.html' %}

                  <img srcset="/static/assets/images/products/doll-320x320.jpg 320w, /static/assets/images/products/doll-400x400.jpg 400w, /static/assets/images/products/doll-420x420.jpg 420w" src="/static/assets/images/products/doll-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="product__image">
                </div>
                <div class="product__footer">
                  <h3 class="product__title text text--regular">Кукла</h3>
                  <div class="product__price text text--regular">5700 ₽</div>
                </div>
              </article>
              <article class="full-product__footer-product product">
                <a href="{% url 'catalog:product_19' %}" class="product__link"></a>
                <div class="product__preview">

                  {% include 'products/products_contacts.html' %}

                  <img srcset="/static/assets/images/products/voodoo-320x320.jpg 320w, /static/assets/images/products/voodoo-400x400.jpg 400w, /static/assets/images/products/voodoo-420x420.jpg 420w" src="/static/assets/images/products/voodoo-420x420.jpg" sizes="(min-width: 420px) 420px, 100vw" width="420" height="420" alt="Продукт" decoding="async" loading="lazy" class="product__image">
                </div>
                <div class="product__footer">
                  <h3 class="product__title text text--regular">Voodoo держатель зубочисток</h3>
                  <div class="product__price text text--regular">999 ₽</div>
                </div>
              </article>
            </div>
          </div>