.section-header {
  margin-bottom: 50px;

  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }

  @media (max-width: 640px) {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__subtitle {
    max-width: 860px;
  }
}